/**
 * Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see 
 * http://www.gnu.org/licenses/agpl-3.0.html.
 *
 */

body, body * {
	font-family: "Ubuntu", "Liberation sans", sans-serif;
	background-color: #ffffff;
}
ol, ul {
	list-style: none;
	padding: 0;
}

table {
	border-collapse: collapse;
	margin-bottom: 8px;
}
	table th {
		text-align: center;
	}
	table th, table td {
	}

table.data-table {
	width: 100%;
}
	table.data-table th {
		text-align: center;
	}
	table.data-table th, table.data-table td {
		border: 1px solid #fff;
		padding: 4px;
	}
	table.data-table tbody tr {
		cursor: pointer;
	}
	table.data-table tr.odd td {
		background-color: #fff;
	}
	table.data-table tr.even td {
		background-color: #feeebd;
	}
