/**
 * Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see 
 * http://www.gnu.org/licenses/agpl-3.0.html.
 *
 */


body, body * {
	font-family: "Ubuntu", "Liberation sans", sans-serif;
}
ol, ul {
	list-style: none;
	padding: 0;
}
h1, h2, h3, h4 {
	font-size: 120%;
}
h2 {
	/* Hide this for now */
	display: none;
}
body {
	background-color: #eeeeee;
}
body, div, span, form, fieldset, * {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #000000;
}
	a:link {
	}
	a:active {
	}
	a:visited {
	}

label {
	text-transform: capitalize;
}
input, textarea {
}
textarea {
	width: 800px;
	height: 64px;
}

table {
	border-collapse: collapse;
	margin-bottom: 8px;
}
	table th {
		text-align: center;
	}
	table th, table td {
	}

form table {
}
	form table th, form table td {
		border: 0;
		padding: 4px;
	}

table.data-table {
	width: 100%;
}
	table.data-table th {
		text-align: center;
	}
	table.data-table th, table.data-table td {
		border: 1px solid #fff;
		padding: 4px;
	}
	table.data-table tbody tr {
		cursor: pointer;
	}
	table.data-table tr.odd td {
		background-color: #fff;
	}
	table.data-table tr.even td {
		background-color: #feeebd;
	}

form.table-form {
}
	form.table-form input[type="checkbox"] {
		height: 100%;
		width: 100%;
	}

.stackContent {
	padding: 8px;
}
	.stackContent {
	}

.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}

.icon-left, .icon-right, .icon-center {
	margin-top: 2px;
}
.icon-left {
	float: left;
}
.icon-right {
	float: right;
}
.icon-center {
	float: center;
}

/* Part specific styles */

header {
	text-align: center;
	background-color: #495f7e;
	color: #ffffff;
}
	header .stackContent {
		/*padding: 8px;*/
		/*margin: 0;*/
		/*padding: 0;*/
	}
	header h1 {
		text-align: center;
	}
	header a {
		color: #ffffff;
	}
	header #language-menu {
		text-align: right;
	}

#main-body {
	margin: 0;
	padding: 0;
}

#sidebar {
	margin: 0;
	padding: 0;
	background-color: #c8d2f0;
	min-height: 720px;
}
	#sidebar .stackContent {
		padding-right: 0;
	}
	#sidebar ul {
		border-top: #495f7e 1px solid;
		margin-top: 32px;
		margin-bottom: 32px;
		margin-left: 4px;
	}
	#sidebar li a {
		border: #495f7e 1px solid;
		border-right: 0;
		border-top: 0;
		display: block;
		padding: 16px;
		padding-right: 0px;
	}
	#sidebar li a:hover {
		background-color: #eeeeee;
	}
	#sidebar label {
		display: none;
	}
	#sidebar input {
		color: #333;
	}


#main {
	background-color: #eeeeee;
	height: 100%;
}
	#main .stackContent {
		padding: 8px;
	}

#toolbar {
	text-align: left;
}
	#toolbar div {
		margin: 0;
		background-color: #ff9900;
		min-height: 24px;
		line-height: 24px;
		text-align: left;
		vertical-align: bottom;
	}
	#toolbar div.main {
		margin: 0;
		background-color: #ff9900;
		height: 32px;
		line-height: 32px;
		display: block;
		text-align: left;
		vertical-align: bottom;
	}
	#toolbar a {
		border-left: 1px solid #eeeeee;
		margin: 0;
		height: 100%;
		width: 100%;
		display: inline-block;
		text-align: center;
		vertical-align: center;
	}
	#toolbar a:first {
		border-left: 0;
	}

footer {
	margin: 0;
	padding: 0;
	/*margin-bottom: 32px;*/
	/*position: relative;*/
	/*bottom: -8px;*/
	/*margin-bottom: 8px;*/
	/*margin-top: 8px;*/
}
	footer div p {
		text-align: center;
	}



/* Special elements */
.help {
	background-color: #ff9900;
}
	.help .content {
		background-color: #ffc080;
	}

.submenu {
	background-color: #ff9900;
	margin: 6px;
}


/* Sidebar Shortcut */
.shortcut {
	background-color: #ffaa00;
}
	.shortcut ul {
	}
	.shortcut li {
	}

#sidebar .shortcut {
	border: 1px solid #cc6600;
	margin: 4px;
	margin-bottom: 0;
}
	#sidebar .shortcut strong {
		background-color: #cc6600;
		display: block;
	}
	#sidebar .shortcut ul {
		border: 0;
		margin: 0;
	}
	#sidebar .shortcut li a {
		border: 0;
		padding: 8px;
	}


/* For occurrence status */
.status1 {
	background-color: #ffffcc;
}
.status2 {
	background-color: #ffff00;
}
.status3 {
	background-color: #ff3333;
}
.status4 {
	background-color: #3333ff;
}
.status5 {
	background-color: #00ff00;
}
.status6 {
	background-color: #cccccc;
}
.status7 {
	background-color: #ffffff;
}


/* For testing */
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
	color: #fff;
}
.black {
	background-color: black;
	color: #fff;
}

.blackWborder {
	background-color: black;
	color: #fff;
	border: 1px solid white;
}

fieldset {
	padding-bottom: 16px;
}

.chzn-drop ul {
	height: 128px;
}
