{% extends "base_form.html" %}
{% load i18n %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{{ page_title }}{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block leftheader %}{% trans "Alert" %} {{ object }}{% endblock %}
{% block centerheader %}{% trans "Nature" %} {{ object.nature }}{% endblock %}

{% block toolbar %}
{% if not is_new %}
	<div class="stack1of5"><a class="stackContent remove-entry" href="#">{% trans "Remove" %}</a></div>
	<div class="stack1of5"><a class="stackContent false-entry" href="#">{% trans "False Alert" %}</a></div>
	<div class="stack1of5"><a class="stackContent" href="{% url alert_associate object.pk %}">{% trans "Associate Alerts to Occurrence" %}</a></div>
	<div class="stack1of5"><a class="stackContent create-from-alert" href="#">{% trans "Create Associated Occurrence" %}</a></div>
	<div class="stack1of5"><a class="stackContent close" href="#">{% trans "Close" %}</a></div>
	<div style="display:none;">
	<form class="hidden" id="table-form" method="post" action="{% url alert_list %}">{% csrf_token %}
		<input type="hidden" name="action" id="action-input" />
		<input type="hidden" name="select" value="{{ object.pk }}" />
	</form>
	</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="stackContent">
	<h2>{{ page_title }}</h2>
	<form method="post" id="alert-form" class="autosave">{% csrf_token %}
		<div class="stack left">
			<div class="stack1of5"><div class="stackContent right">
				<label for="id_date">{% trans "Date" %}</label>
			</div></div>
			<div class="stack1of5"><div class="stackContent">
				<input type="date" id="id_date" name="date" value="{{ object.start_ts|date:"Y-m-d" }}" />
			</div></div>
			<div class="stack1of5"><div class="stackContent right">
				<label for="id_time">{% trans "Time" %}</label>
			</div></div>
			<div class="stack1of5"><div class="stackContent">
				<input type="time" id="id_time" name="time" value="{{ object.start_ts|date:"H:i:s" }}" />
			</div></div>
			<div class="clear"></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_nature">{% trans "Nature" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.nature }}
			</div></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_description">{% trans "Description" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.description }}
			</div></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_source">{% trans "Source" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.source }}
			</div></div>

			<div class="stack1of5"><div class="stackContent right">
					<label for="id_source_type">{% trans "Source" %} {% trans "Entity" %}/{% trans "Citizen" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.source_type }}
			</div></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_name">{% trans "Name" %}</label>
			</div></div>
			<div class="stack1of5"><div class="stackContent">
				{{ form.name }}
			</div></div>
			<div class="stack1of5"><div class="stackContent right">
				<label for="id_phone">{% trans "Phone" %}</label>
			</div></div>
			<div class="stack1of5"><div class="stackContent">
				{{ form.phone }}
			</div></div>

			<fieldset>
				<legend class="stackContent">{% trans "Location" %}</legend>
				<div class="stack1of5"><div class="stackContent right">
					<label for="id_district">{% trans "District" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.district }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_county">{% trans "Subdistrict" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.county }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_locality">{% trans "Suco" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.locality }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_local">{% trans "Aldea" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.local }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_point_of_reference">{% trans "Point of Reference" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.point_of_reference }}
				</div></div>

			</fieldset>

		</div>
	</form>
</div><!-- .stackContent -->
{% endblock content %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/location-filters.js"></script>
{% if not is_new %}
<script type="text/javascript">
	$(function(){
		$('.close').click(function(e) {
			$('#alert-form').submit();
			$(e).preventDefault();
			return false;
		});
		$('#alert-form').validate({
			rules: {
				nature: 'required',
				//source: 'required',
				//source_type: 'required',
				date: 'required',
				time: 'required'
			}
		});
	});
</script>
{% endif %}
{% endblock %}
