{% extends "base_dispatch.html" %}
{% load i18n %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block extra_head %}
<style type="text/css">
	div.header {
		background-color: #ccccff;
		font-weight: bold;
	}
</style>
{% endblock %}

{% block toolbar %}
{% if not is_new %}
	<div class="stack1of4"><a class="stackContent remove-entries" href="#">{% trans "Remove" %}</a></div>
	<div class="stack1of4"><a class="stackContent release-entries" href="#">{% trans "Release" %}</a></div>
	<div class="stack1of4"><a class="stackContent getout" href="{% url dispatches occurrence.pk %}">{% trans "Get Out" %}</a></div>
	<div class="stack1of4"><a class="stackContent close" href="#">{% trans "Close" %}</a></div>
	<div style="display:none;">
	<form class="hidden" id="table-form" method="post" action="{% url dispatches occurrence.pk %}">{% csrf_token %}
		<input type="hidden" name="action" id="action-input" />
		<input type="hidden" name="select" value="{{ object.pk }}" />
	</form>
	</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="tabs">

	<ul>
		<li><a href="#characterization-div">{% trans "Characterization" %}</a></li>
		<li><a href="#status-div">{% trans "Status" %}</a></li>
	</ul>

	<div id="characterization-div">
		<h2>{{ page_title }}</h2>
		<form class="stackContent autosave" method="post" id="characterization-form">{% csrf_token %}
			<div class="stack left">
				<div class="stack1of5"><div class="stackContent right">
					<label for="id_date">{% trans "Date" %}</label>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="date" id="id_date" name="date" value="{{ object.start_ts|date:"Y-m-d" }}" />
				</div></div>
				<div class="stack1of5"><div class="stackContent right">
					<label for="id_time">{% trans "Time" %}</label>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="time" id="id_time" name="time" value="{{ object.start_ts|date:"H:i:s" }}" />
				</div></div>
				<div class="clear"></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_entity">{% trans "Unit" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.entity }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_vehicle">{% trans "vehicle" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.vehicle }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_garrison">{% trans "garrison" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					<input type="garrison" id="id_garrison" name="garrison" value="{{ object.vehicle.garrison }}" />
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_observations">{% trans "Observations" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.observations }}
				</div></div>

			</div>
			<input type="hidden" name="occurrence" value="{{ occurrence.pk }}" />
		</form>
	</div>
	{% if not is_new %}
	<div id="status-div">
		<form class="stackContent autosave" method="post" id="status-form">{% csrf_token %}
			<div class="stack header">

				<div class="stack1of5"><div class="stackContent header">
					{% trans "Status" %}
				</div></div>
				<div class="stack1of5"><div class="stackContent header">
					{% trans "Date" %}
				</div></div>
				<div class="stack1of5"><div class="stackContent header">
					{% trans "Time" %}
				</div></div>
				<div class="stack2of5"><div class="stackContent header">
				</div></div>
				<div class="clear"></div>

			</div>

			<div class="stack left">

				<div class="stack1of5"><div class="stackContent">
					1. <span>{% trans "Dispatch" %}</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input disabled="disabled" type="date" id="id_date" name="date" value="{{ object.start_ts|date:"Y-m-d" }}" />
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input disabled="disabled" type="time" id="id_time" name="time" value="{{ object.start_ts|date:"H:i:s" }}" />
				</div></div>
				<div class="clear"></div>

				<div class="stack1of5"><div class="stackContent">
					2. <span>{% trans "Exit from Unit" %}</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="date" name="exit_hq_date" value="{{ object.exit_hq_ts|date:"Y-m-d" }}" />
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="time" name="exit_hq_time" value="{{ object.exit_hq_ts|date:"H:i:s" }}" />
				</div></div>
				<div class="clear"></div>

				<div class="stack1of5"><div class="stackContent">
					3. <span>{% trans "Arrive to Local" %}</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="date" name="arrive_to_date" value="{{ object.arrive_to_ts|date:"Y-m-d" }}" />
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="time" name="arrive_to_time" value="{{ object.arrive_to_ts|date:"H:i:s" }}" />
				</div></div>
				<div class="clear"></div>

				<div class="stack1of5"><div class="stackContent">
					4. <span>{% trans "Exit Local" %}</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="date" name="exit_to_date" value="{{ object.exit_to_ts|date:"Y-m-d" }}" />
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="time" name="exit_to_time" value="{{ object.exit_to_ts|date:"H:i:s" }}" />
				</div></div>
				<div class="stack2of5"><div class="stackContent">
					<input type="checkbox" name="release" id="release-checkbox">
					<label for="release-checkbox">{% trans "Release Vehicle Now" %}</label>
				</div></div>
				<div class="clear"></div>

				<div class="stack1of5"><div class="stackContent">
					5. <span>{% trans "Arrive to Unit" %}</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="date" name="arrive_hq_date" value="{{ object.arrive_hq_ts|date:"Y-m-d" }}" />
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input type="time" name="arrive_hq_time" value="{{ object.arrive_hq_ts|date:"H:i:s" }}" />
				</div></div>
				<div class="clear"></div>

			</div>

			<fieldset class="stack left">
				<legend class="stackContent">{% trans "Usage of Vehicle" %}</legend>

				<div class="stack1of5"><div class="stackContent">
					<span>{% trans "Hours Occupied" %}</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input name="hours_occupied" value="" />
				</div></div>
				<div class="clear"></div>

				<div class="stack1of5"><div class="stackContent">
					<span>{% trans "Hours of Actual Work" %}</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input name="hours_work" value="" />
				</div></div>
				<div class="clear"></div>

				<div class="stack1of5"><div class="stackContent">
					<span>{% trans "Consumed" %} [km]</span>
				</div></div>
				<div class="stack1of5"><div class="stackContent">
					<input name="consumed_km" value="" />
				</div></div>
				<div class="clear"></div>

			</fieldset>

			<input type="hidden" name="occurrence" value="{{ occurrence.pk }}" />
		</form>
	</div>
	{% endif %}

</div><!-- .tabs -->
{% endblock content %}


{% block extra_script %}
<script type="text/javascript">
$(function () {
	$('.tabs').tabs();
});
</script>
{% endblock %}
