{% extends "base_dispatch.html" %}
{% load i18n split %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}


{% block toolbar %}
	<div class="stack1of3"><a class="stackContent" href="javascript:window.history.back()">{% trans "Go back" %}</a></div>
	<div class="stack1of3">
		{% if chosen_entity == 0 or vehicle_list.count == 0 %}
		<a class="stackContent">{% trans "Associate Vehicles" %}</a>
		{% else %}
		<a class="stackContent associate-vehicles" href="{{ chosen_entity }}">{% trans "Associate Vehicles" %}</a>
		{% endif %}
	</div>
	<div class="stack1of3"><a class="stackContent close" href="#">{% trans "Close" %}</a></div>
{% endblock %}


{% block content %}
<form id="entity-form" class="stackContent" method="post">{% csrf_token %}
	<select name="entity" id="select-entity">
		<option value="0"
		>{% trans "All" %}</option>
		{% for entity in entity_list %}
		<option value="{{ entity.pk }}"
		{% if chosen_entity == entity.pk %}
		selected="selected"
		{% endif %}
		>{{ entity }}</option>
		{% endfor entity in entity_list %}
	</select>
</form>
<h3 class="stackContent">{% trans "List of Vehicles" %}</h3>
<div class="stackContent" id="table-form" method="post">
	<input type="hidden" name="action" id="action-input" />
	<table class="data-table">
		<thead>
			<tr>
				<th>
					{% trans "Vehicle" %}#
				</th>
				<th>
					{% trans "Vehicle" %}
				</th>
				<th>
					{% trans "Garrison" %}
				</th>
				<th>
					{% trans "Status" %}
				</th>
				<th>
				</th>
			</tr>
		</thead>

		<tbody>
		{% for vehicle in vehicle_list %}
			<tr>
				<td>
					{{ vehicle.number }}
				</td>
				<td>
					{{ vehicle }}
				</td>
				<td>
					{{ vehicle.garrison }}
				</td>
				<td>
					{{ vehicle.status }}
				</td>
				<td>
					<a href="{% url dispatch_create occurrence.pk %}?vehicle={{ vehicle.pk }}" class="detail-link"></a>
				</td>
			</tr>
		{% endfor vehicle in vehicle_list %}
		</tbody>

	</table>
</div><!-- .stackContent -->
{% endblock content %}


{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lists.js"></script>
<script type="text/javascript">
$(function () {
	$('#select-entity').change(function () {
		var entity = $(this);
		var url = window.location.pathname + '?' + entity.serialize();
		console.log(url);
		window.location.replace(url);
	});

	$('0.associate-vehicles').click(function () {
		var entity = $('#select-entity');
		var url = window.location.pathname + '/' + entity.val();
		console.log(url);
		window.location.replace(url);
		return false;
	});
});
</script>
{% endblock %}
