{% extends "base_occurrence.html" %}
{% load i18n split %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}


{% block toolbar %}
	<div class="stack1of5"><a class="stackContent" href="{% url dispatch_choose_entity object.pk %}">{% trans "Create Dispatch" %}</a></div>
	<div class="stack1of5"><a class="stackContent remove-entries" href="#">{% trans "Remove Dispatch" %}</a></div>
	<div class="stack1of5"><a class="stackContent release-entries" href="#">{% trans "Release Dispatch" %}</a></div>
	<div class="stack1of5"><a class="stackContent" href="javascript:window.location.reload()">{% trans "Refresh" %}</a></div>
	<div class="stack1of5"><a class="stackContent close" href="#">{% trans "Close" %}</a></div>
{% endblock %}


{% block content %}
<h3 class="stackContent">{% trans "List of Dispatch of Means" %}</h3>
<form class="stackContent" id="table-form" method="post">{% csrf_token %}
	<input type="hidden" name="action" id="action-input" />
	<table class="data-table">
		<thead>
			<tr>
				<th>
				</th>
				<th>
					{% trans "Date & Time" %}
				</th>
				<th>
					{% trans "Unit" %}#
				</th>
				<th>
					{% trans "Unit" %}
				</th>
				<th>
					{% trans "Vehicle" %}#
				</th>
				<th>
					{% trans "Status" %}
				</th>
				<th>
					{% trans "Date & Time Arrived at Local" %}
				</th>
				<th>
				</th>
			</tr>
		</thead>

		<tbody>
		{% for dispatch in dispatch_list %}
			<tr>
				<th>
					<input type="checkbox" name="select" value="{{ dispatch.pk }}" />
				</th>
				<td>
					{{ dispatch.start_ts|date:"Y-m-d H:i" }}
				</td>
				<td>
					{{ dispatch.entity|default:"" }}
				</td>
				<td>
					{{ dispatch.entity.abbr }}
				</td>
				<td>
					{{ dispatch.vehicle|default:"" }}
				</td>
				<td>
					{{ dispatch.status }}
				</td>
				<td>
					{{ dispatch.arrival_to_ts|date:"Y-m-d H:i" }}
				</td>
				<td>
					<a href="{% url dispatch_edit dispatch.occurrence.pk dispatch.pk %}#status-div" role="button"
						class="detail-link"
						title="{% trans 'Details' %}">{% trans 'Details' %}</a>
					<a href="{% url dispatch_edit dispatch.occurrence.pk dispatch.pk %}" role="button"
						class="ui-icon ui-icon-pencil"
						title="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
				</td>
			</tr>
		{% endfor alert in alert_list %}
		</tbody>

	</table>
</form><!-- .stackContent -->
{% endblock content %}


{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lists.js"></script>
{% endblock %}
