{% extends "base_list.html" %}
{% load i18n split %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{% trans 'Occurrence' %}{% endblock %}
{% block page_title %}{% trans 'Occurrence' %}{% endblock %}

{% block toolbar %}
	<div class="stack1of4"><a class="stackContent popup" href="{% url occurrence_create %}">{% trans "Create Occurrences" %}</a></div>
	<div class="stack1of4"><a class="stackContent remove-entries" href="#">{% trans "Remove Occurrences" %}</a></div>
	<div class="stack1of4"><a class="stackContent associate-occurrences" href="#">{% trans "Associate Related Occurrence" %}</a></div>
	<div class="stack1of4"><a class="stackContent" href="javascript:window.location.reload()">{% trans "Refresh" %}</a></div>
{% endblock %}

{% block content %}
<form class="stackContent" id="table-form" method="post">{% csrf_token %}
	<input type="hidden" name="action" id="action-input" />
	<table class="data-table">

		<thead>
			<tr>
				<th>
				</th>
				<th>
					{% trans "Occurrence" %}#
				</th>
				<th>
					{% trans "District" %}
				</th>
				<th>
					{% trans "Date & Time" %}
				</th>
				<th>
					{% trans "Duration" %}
				</th>
				<th>
					{% trans "Nature" %}
				</th>
				<th>
					{% trans "Status" %}
				</th>
				<th>
					{% trans "Importance" %}
				</th>
				<th>
					{% trans "Unit" %}
				</th>
				<th>
					{% trans "Aldea" %}
				</th>
				<th>
					{% trans "Geo" %}
				</th>
				<th>
				</th>
			</tr>
		</thead>

		<tbody>
		{% for occurrence in object_list %}
			<tr>
				<th>
					<input type="checkbox" name="select" value="{{ occurrence.pk }}" />
				</th>
				<td>
					{{ occurrence.number }}
				</td>
				<td>
					{{ occurrence.district|default:"" }}
				</td>
				<td>
					{{ occurrence.start_ts|date:"Y-m-d H:i" }}
				</td>
				<td>
					{{ occurrence.start_ts|timesince:occurrence.end_ts|get_first }}
				</td>
				<td>
					{{ occurrence.nature }}
				</td>
				<td class="status{{ occurrence.status.pk }}">
					{{ occurrence.status }}
				</td>
				<td>
					{{ occurrence.importance }}
				</td>
				<td>
					{{ occurrence.entity|default:"" }}
				</td>
				<td>
					{{ occurrence.local }}
				</td>
				<td>
					{{ occurrence.get_map }}
				</td>
				<td>
					<a href="{% url occurrence_edit occurrence.pk %}" role="button"
						class="detail-link"
						title="{% trans 'Details' %}">{% trans 'Details' %}</a>
					<a href="{% url occurrence_edit occurrence.pk %}" role="button"
						class="ui-icon ui-icon-pencil"
						title="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
				</td>
			</tr>
		{% endfor occurrence in occurrence_list %}
		</tbody>

	</table>
</form><!-- .stackContent -->
{% endblock content %}
