{% extends "base_occurrence.html" %}
{% load i18n %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{{ page_title }}{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block toolbar %}
{% if not is_new %}
	<div class="stack1of3"><a class="stackContent remove-entry" href="#">{% trans "Remove" %}</a></div>
	<div class="stack1of3"><a class="stackContent" href="{% url occurrence_associate object.pk %}">{% trans "Associate Related Occurrence" %}</a></div>
	<div class="stack1of3"><a class="stackContent close" href="#">{% trans "Close" %}</a></div>
	<form class="hidden" id="table-form" method="post" action="{% url occurrence_list %}">{% csrf_token %}
		<input type="hidden" name="action" id="action-input" />
		<input type="hidden" name="select" value="{{ object.pk }}" />
	</form>
{% endif %}
{% endblock %}

{% block content %}
<div class="stackContent">
	<h2>{{ page_title }}</h2>
	<form method="post" id="occurrence-form" class="autosave">{% csrf_token %}
		<div class="stack left">
			<div class="stack1of5"><div class="stackContent right">
				<label for="id_date">{% trans "Date" %}</label>
			</div></div>
			<div class="stack1of5"><div class="stackContent">
				<input type="date" id="id_date" name="date" value="{{ object.start_ts|date:"Y-m-d" }}" />
			</div></div>
			<div class="stack1of5"><div class="stackContent right">
				<label for="id_time">{% trans "Time" %}</label>
			</div></div>
			<div class="stack1of5"><div class="stackContent">
				<input type="time" id="id_time" name="time" value="{{ object.start_ts|date:"H:i:s" }}" />
			</div></div>
			<div class="clear"></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_nature">{% trans "Nature" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.nature }}
			</div></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_status">{% trans "Status" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.status }}
			</div></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_importance">{% trans "Importance" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.importance }}
			</div></div>

			<div class="stack1of5"><div class="stackContent right">
				<label for="id_description">{% trans "Description" %}</label>
			</div></div>
			<div class="stack4of5"><div class="stackContent">
				{{ form.description }}
			</div></div>

			<fieldset>
				<legend class="stackContent">{% trans "Unit Responsible" %}</legend>
				<div class="stack1of5"><div class="stackContent right">
					<label for="id_entity">{% trans "Unit" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.entity }}
				</div></div>
			</fieldset>

			<fieldset>

				<legend class="stackContent">{% trans "Location" %}</legend>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_district">{% trans "District" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.district }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_county">{% trans "Subdistrict" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.county }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_locality">{% trans "Suco" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.locality }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_local">{% trans "Aldea" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.local }}
				</div></div>

				<div class="stack1of5"><div class="stackContent right">
					<label for="id_point_of_reference">{% trans "Point of Reference" %}</label>
				</div></div>
				<div class="stack4of5"><div class="stackContent">
					{{ form.point_of_reference }}
				</div></div>

			</fieldset>

		</div>
	</form>
</div><!-- .stackContent -->
{% endblock content %}

{% block extra_script %}
{% if not is_new %}
<script type="text/javascript">
	$(function(){
		function check_required() {
			if ($('#id_entity').val()) {
				return true;
			} else {
			alert('{% trans "Please choose an entity" %}');
				return false;
			}
		}
		//$('.shortcut a').click(check_required);
		//$('.main-menu a[href="{% url dispatches object.pk %}"]').click(check_required);
		$('.close').click(function() {
			$('#occurrence-form').submit()
		});
		$('.close').click(function() {
			$('#occurrence-form').submit()
		});
		$('#occurrence-form').validate({
			rules: {
				nature: 'required',
				entity: 'required',
				//source_type: 'required',
				date: 'required',
				time: 'required'
			}
		});
	});
</script>
{% endif %}
{% endblock %}
