{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{% trans 'Resource Details' %}{% endblock %}
{% block page_title %}{{ resource.title }} {% trans 'Resource Details' %}{% endblock %}

{% block content %}
<div class="stackContent">
	<dl>
		<dt>{% trans 'Name' %}</dt>
		<dd>{{ resource.name }}</dd>
		<dt>{% trans 'Type' %}</dt>
		<dd>{{ resource.resource_type.name }}</dd>
	</dl>
	<span>
		<a href="{% url resource_list %}" role="button"
			title="{% trans 'List' %}">
			<span class="ui-icon ui-icon-document icon-right"></span>
			{% trans 'List' %}</a>
		<a href="{% url resource_edit resource.pk %}" role="button"
			title="{% trans 'Edit' %}">
			<span class="ui-icon ui-icon-pencil icon-right"></span>
			{% trans 'Edit' %}</a>
	</span>
</div><!-- .stackContent -->
{% endblock content %}
