{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{{ page_title }}{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="stackContent">
	<h2>{{ page_title }}</h2>
	<form method="post" id="resource-form">{% csrf_token %}
		<table>
		{{ form }}
		</table>
		<input type="submit" value="Save">
	</form>
</div><!-- .stackContent -->
{% endblock content %}
