{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{% trans 'Resource' %}{% endblock %}
{% block page_title %}{% trans 'Resource' %}{% endblock %}

{% block content %}
<div class="stackContent">
	<table class="data-table">

		<thead>
			<tr>
				<th>
					{% trans "Name" %}
				</th>
				<th>
					{% trans "Type" %}
				</th>
				<th>
				</th>
			</tr>
		</thead>

		<tbody>
		{% for resource in resource_list %}
			<tr>
				<td>
					{{ resource.name }}
				</td>
				<td>
					{{ resource.resource_type.name }}
				</td>
				<td>
					<a href="{% url resource_edit resource.pk %}" role="button"
						class="detail-link"
						title="{% trans 'Details' %}">{% trans 'Details' %}</a>
					<a href="{% url resource_edit resource.pk %}" role="button"
						class="ui-icon ui-icon-pencil"
						title="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
					<a href="{% url resource_edit resource.pk %}" role="button"
						class="ui-icon ui-icon-extlink"
						title="{% trans 'Associate Alert to an Occurrence' %}">{% trans 'Associate Alert to an Occurrence' %}</a>
				</td>
			</tr>
		{% endfor resource in resource_list %}
		</tbody>

	</table>

	<a href="{% url resource_create %}" role="button">Create resource</a>
</div><!-- .stackContent -->
{% endblock content %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lists.js"></script>
{% endblock %}
