{% load i18n %}<!DOCTYPE html>
<!--
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see 
http://www.gnu.org/licenses/agpl-3.0.html.
-->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% block title %}{% trans 'Ongoing' %}{% endblock %} | {% trans 'Emergency Management System' %}</title>
	<!--Load Ubuntu font family-->
	<!--<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>-->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/flick/jquery-ui.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stacklayout.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stacklayout_mobile.css" media="handheld, only screen and (max-width: 800px)" type="text/css" />
	<!--[if lte IE 7]>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stacklayout_lte_ie7.css" />
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v2" />
	{% block extra_head %}{% endblock %}
</head>
<body>

<header>
	<div class="stack">
		<div class="stack1of5">
		<div class="stackContent">
			<img src="{{ STATIC_URL }}img/image00.jpg" height="100px" width="120px" align="left" />
		</div><!-- .stackContent -->
		</div><!-- .stack1of5 -->
		<div class="stack3of5">
			<div class="stack2of5">
			<div class="stackContent">
				<p>{% trans 'Emergency Management System' %}</p>
			</div><!-- .stackContent -->
			</div><!-- .stack2of5 -->
			<div class="stack3of5">
			<div class="stackContent right">
				<p>
				{% trans 'Change Language' %}:
				<a href="?lang=en" title="English"><img src="{{ STATIC_URL }}img/famfamfam/gb.png" alt="English" /></a>
				<a href="?lang=pt" title="Português"><img src="{{ STATIC_URL }}img/famfamfam/pt.png" alt="Português" /></a>
				<a href="?lang=tl" title="Tetum"><img src="{{ STATIC_URL }}img/famfamfam/tl.png" alt="Tetum" /></a>
				</p>
			</div><!-- .stackContent -->
			</div><!-- .stack3of5 -->
			<div class="stack4of5">
				<div class="stackContent">
					<h2>{% block page_title %}{% trans 'Ongoing' %}{% endblock %}</h2>
				</div><!-- .stackContent -->
			</div><!-- .stack4of5 -->
			<div class="stack1of5">
				<div class="stackContent right">
					{% now "Y-m-d" %}
				</div><!-- .stackContent -->
			</div><!-- .stack1of5 -->
		</div><!-- .stack3of5 -->
		<div class="stack1of5">
			<div class="stackContent right">
				<img src="{{ STATIC_URL }}img/image01.png" height="100px" width="100px" align="right" />
			</div><!-- .stackContent -->
		</div><!-- .stack1of5 -->
	</div><!-- .stack -->
</header>

<div id="main-body" class="stack">
	<div class="stack1of5" id="sidebar">
		<div class="stackContent">
			{% block menu %}
			{% if user.is_authenticated %}
			<ul class="main-menu">
				<li><a href="{% url home %}">
					{% trans 'Ongoing' %}
				</a></li>
				<li><a href="{% url alert_list %}">
					{% trans 'Alerts' %}
				</a></li>
				<li><a href="{% url occurrence_list %}">
					{% trans 'Occurrences' %}
				</a></li>
			</ul>
			<div class="shortcut">
				<strong>{% trans "Create" %}</strong>
				<ul>
					<li><a class="popup" href="{% url alert_create %}" title="{% trans "Alert" %}">{% trans "Alert" %}</a></li>
					<li><a class="popup" href="{% url occurrence_create %}" title="{% trans "Occurrence" %}">{% trans "Occurrence" %}</a></li>
				</ul>
			</div>
			<div class="shortcut">
				<strong>{% trans "Other Options" %}</strong>
				<ul>
					<li>
					<form action="{% url gotopage %}" class="popup-form">
						<input type="hidden" name="page" value="occurrence_edit" />
						<label for="search_occurrence">{% trans "Search for Occurrence" %}</label>
						<input id="search_occurrence" name="pk" class="required" label="{% trans "Search for Occurrence" %}" />
					<input type="submit" value="{% trans "OK" %}" style="display: none;" />
					</form>
					</li>
					<!--<li><a href="#" title="{% trans "Occurrence Board" %}">{% trans "Occurrence Board" %}</a></li>-->
					<li><a href="{% url end_shift %}" title="{% trans "End Shift Report" %}">{% trans "End Shift Report" %}</a></li>
					<li><a href="{% url auth_logout %}?next={{ request.path }}" title="{% trans "Logout" %}">{% trans "Logout" %}</a></li>
				</ul>
			</div>
			{% endif %}
			{% endblock menu %}
			{% block authmenu %}
			{% if user.is_superuser %}
			<ul>
				<li><a href="/admin/">
					{% trans 'Administration' %}
				</a></li>
				<li><a href="{% url rosetta-home %}">
					{% trans 'Translate' %}
				</a></li>
				<li><a href="/recordings/">
					{% trans 'Recordings' %}
				</a></li>
			</ul>
			{% endif %}
			{% endblock authmenu %}
		</div><!-- .stackContent -->
	</div><!-- .stack1of5 #sidebar -->
	<div class="stack4of5" id="main">
		<div id="toolbar" class="stack">
		{% block toolbar %}{% endblock %}
		</div>
		{% block content %}{% endblock %}
	</div><!-- .stack4of5 #main -->
</div><!-- .stack" -->

<footer>
<div class="stack">
</div><!-- .stack" -->
</footer>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-localstorage.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/localization/messages_ptpt.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% block extra_script %}{% endblock %}
<script type="text/javascript">
	$(function(){
		console.log('{{ request.path }}');
		$('#sidebar ul.main-menu li a[href="{{ request.path }}"]').css('backgroundColor', '#eeeeee');
	});
</script>
</body>
</html>
