{% extends "base_occurrence.html" %}
{% load i18n split %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block leftheader %}{% trans "Occurrence" %} {{ occurrence }}{% endblock %}

{% block main %}
<div class="stack" id="main-body">
<div class="stackContent">
	<div id="toolbar" class="stack">
	{% block toolbar %}
	{% endblock %}
	</div><!-- #toolbar -->
	{% block content %}
	<div class="stackContent">
	</div><!-- .stackContent -->
	{% endblock content %}
</div><!-- .stackContent -->
</div><!-- .stack #main -->
{% endblock %}
