{% extends "base_form.html" %}
{% load i18n %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{{ page_title }}{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block leftheader %}{% trans "Occurrence" %} {{ object }}{% endblock %}
{% block centerheader %}{% trans "Nature" %} {{ object.nature }}{% endblock %}


{% block main %}
<div class="stack" id="main-body">
	<div class="stack1of5" id="sidebar">
		<div class="stackContent">
			{% block menu %}
			{% if not is_new %}
			<ul class="main-menu">
				<li><a href="{% url occurrence_edit object.pk %}">
					{% trans 'Characteristics' %}
				</a></li>
				<li><a href="{% url occurrence_alerts object.pk %}">
					{% trans 'Alerts' %}
				</a></li>
				<li><a href="{% url dispatches object.pk %}">
					{% trans 'Dispatch of Means' %}
				</a></li>
				<!--<li><a href="{% url occurrence_edit object.pk %}victims/">-->
					<!--{% trans 'Victims' %}-->
				<!--</a></li>-->
				<!--<li><a href="{% url occurrence_edit object.pk %}damages/">-->
					<!--{% trans 'Damages' %}-->
				<!--</a></li>-->
				<!--<li><a href="{% url occurrence_edit object.pk %}sit_pt/">-->
					<!--{% trans 'Situation Point' %}-->
				<!--</a></li>-->
				<!--<li><a href="{% url occurrence_edit object.pk %}docs/">-->
					<!--{% trans 'Documents' %}-->
				<!--</a></li>-->
				<li><a href="{% url occurrence_occurrences object.pk %}">
					{% trans 'Associated Occurrences' %}
				</a></li>
			</ul>
			<div class="shortcut">
				<strong>{% trans "Create" %}</strong>
				<ul>
					<li><a href="{% url dispatch_choose_entity object.pk %}" title="{% trans "Dispatch of Means" %}">{% trans "Dispatch of Means" %}</a></li>
					<!--<li><a href="{% url occurrence_edit object.pk %}" title="{% trans "Situation Point" %}">{% trans "Situation Point" %}</a></li>-->
				</ul>
			</div>
			{% endif %}
			{% endblock menu %}
		</div><!-- .stackContent -->
	</div><!-- .stack1of5 -->
	<div class="stack4of5">
	<div id="toolbar" class="stack">
	{% block toolbar %}
		<div class="stack1of3"><a class="stackContent remove-entry" href="#">{% trans "Remove" %}</a></div>
		<div class="stack1of3"><a class="stackContent" href="#">{% trans "Associate Related Occurrence" %}</a></div>
		<div class="stack1of3"><a class="stackContent close" href="#">{% trans "Close" %}</a></div>
	{% endblock %}
	</div>
	{% block content %}
	<div class="stackContent">
	</div><!-- .stackContent -->
	{% endblock content %}
	</div><!-- .stack1of5 -->
</div><!-- .stack #main -->
{% endblock %}
