{% load i18n %}<!DOCTYPE html>
<!--
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see 
http://www.gnu.org/licenses/agpl-3.0.html.
-->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% block title %}{% trans 'Ongoing' %}{% endblock %} | {% trans 'Emergency Management System' %}</title>
	<!--Load Ubuntu font family-->
	<!--<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>-->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/flick/jquery-ui.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stacklayout.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stacklayout_mobile.css" media="handheld, only screen and (max-width: 800px)" type="text/css" />
	<!--[if lte IE 7]>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stacklayout_lte_ie7.css" />
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v2" />
	{% block extra_head %}{% endblock %}
</head>
<body>

<header>
	<div class="stack">
		<div class="stack1of3">
		<div class="stackContent">
			{% block leftheader %}{% endblock %}
		</div><!-- .stackContent -->
		</div><!-- .stack1of3 -->
		<div class="stack1of3">
		<div class="stackContent center">
			{% block centerheader %}{% endblock %}
		</div><!-- .stackContent -->
		</div><!-- .stack1of3 -->
		<div class="stack1of3">
		<div class="stackContent right">
			{% block rightheader %}
			<p>
				{% trans 'Change Language' %}:
				<a href="?lang=en" title="English"><img src="{{ STATIC_URL }}img/famfamfam/gb.png" alt="English" /></a>
				<a href="?lang=pt" title="Português"><img src="{{ STATIC_URL }}img/famfamfam/pt.png" alt="Português" /></a>
				<a href="?lang=tl" title="Tetum"><img src="{{ STATIC_URL }}img/famfamfam/tl.png" alt="Tetum" /></a>
			</p>
			{% endblock %}
		</div><!-- .stackContent -->
		</div><!-- .stack1of3 -->
	</div><!-- .stack -->
</header>

<div id="main-body" class="stack">
	{% block main %}
	<div class="stackContent" id="main">
		<div id="toolbar" class="stack">
		{% block toolbar %}{% endblock %}
		</div>
		{% block content %}{% endblock %}
	</div><!-- .stackContent #main -->
	{% endblock %}
</div><!-- .stack" -->

<footer>
<div class="stack">
</div><!-- .stack" -->
</footer>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-localstorage.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/localization/messages_ptpt.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autosave.js"></script>
<!--<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.timepicker.css" />-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.timepicker.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% if is_new %}
<script type="text/javascript" src="{{ STATIC_URL }}js/create.js"></script>
{% else %}
<script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
{% endif %}
<script type="text/javascript">
	$(function(){
		console.log('{{ request.path }}');
		$('#sidebar ul.main-menu li a[href="{{ request.path }}"]').css('backgroundColor', '#eeeeee');
	});
</script>
{% block extra_script %}{% endblock %}
</body>
</html>
