{% extends "base.html" %}
{% load i18n split %}

{% comment %}
Copyright (C) 2012 "Emanuel Calso" <eman@xaasy.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see 
http://www.gnu.org/licenses/agpl-3.0.html.
{% endcomment %}

{% block title %}{% trans 'Ongoing' %}{% endblock %}
{% block page_title %}{% trans 'Ongoing' %}{% endblock %}

{% block toolbar %}
	<!--<div class="stack1of2"><a class="stackContent" href="#">{% trans "By District" %}</a></div>-->
	<div class="stack"><a class="stackContent" href="javascript:window.location.reload()">{% trans "Refresh" %}</a></div>
{% endblock %}

{% block content %}
	<div class="submenu">
	</div><!-- .submenu -->
	<div class="stackContent">
		<div>
			<h3>{% trans "Occurrences" %}</h3>
			<table class="data-table" id="open-occurrences">
				<thead>
					<tr>
						<th>
							{% trans "Occurrence" %}#
						</th>
						<th>
							{% trans "District" %}
						</th>
						<th>
							{% trans "Date & Time" %}
						</th>
						<th>
							{% trans "Duration" %}
						</th>
						<th>
							{% trans "Nature" %}
						</th>
						<th>
							{% trans "Status" %}
						</th>
						<th>
							{% trans "Importance" %}
						</th>
						<th>
							{% trans "Unit" %}#
						</th>
						<th>
							{% trans "Aldea" %}
						</th>
						<th>
							{% trans "Geo" %}
						</th>
						<th>
						</th>
					<tr>
				</thead>
				<tbody>
				{% for occurrence in occurrence_list %}
				<tr>
						<td>
							{{ occurrence.number }}
						</td>
						<td>
							{{ occurrence.district|default:"" }}
						</td>
						<td>
							{{ occurrence.start_ts|date:"Y-m-d H:i" }}
						</td>
						<td>
							{{ occurrence.start_ts|timesince:occurrence.end_ts|get_first }}
						</td>
						<td>
							{{ occurrence.nature }}
						</td>
						<td class="status{{ occurrence.status.pk }}">
							{{ occurrence.status }}
						</td>
						<td>
							{{ occurrence.importance }}
						</td>
						<td>
							{{ occurrence.entity|default:"" }}
						</td>
						<td>
							{{ occurrence.local }}
						</td>
						<td>
							{{ occurrence.get_map }}
						</td>
						<td>
							<a href="{% url occurrence_edit occurrence.pk %}" role="button"
								class="detail-link"
								title="{% trans 'Details' %}">{% trans 'Details' %}</a>
							<a href="{% url occurrence_edit occurrence.pk %}" role="button"
								class="ui-icon ui-icon-pencil"
								title="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
						</td>
					</tr>
				{% endfor occurrence in occurrence_list %}
				</tbody>
			</table>
		</div>
		<div>
			<h3>{% trans "Alerts" %}</h3>
			<table class="data-table" id="open-alerts">
				<thead>
					<tr>
						<th>
							{% trans "Alert" %}#
						</th>
						<th>
							{% trans "District" %}
						</th>
						<th>
							{% trans "Date & Time" %}
						</th>
						<th>
							{% trans "Duration" %}
						</th>
						<th>
							{% trans "Nature" %}
						</th>
						<th>
							{% trans "Aldea" %}
						</th>
						<th>
						</th>
					<tr>
				</thead>
				<tbody>
				{% for alert in alert_list %}
					<tr>
						<td>
							{{ alert.number }}
						</td>
						<td>
							{{ alert.district|default:"" }}
						</td>
						<td>
							{{ alert.start_ts|date:"Y-m-d H:i" }}
						</td>
						<td>
							{{ alert.start_ts|timesince|get_first }}
						</td>
						<td>
							{{ alert.nature }}
						</td>
						<td>
							{{ alert.local }}
						</td>
						<td>
							<a href="{% url alert_edit alert.pk %}" role="button"
								class="detail-link"
								title="{% trans 'Details' %}">{% trans 'Details' %}</a>
							<a href="{% url alert_edit alert.pk %}" role="button"
								class="ui-icon ui-icon-pencil"
								title="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
							<a href="{% url alert_edit alert.pk %}" role="button"
								class="ui-icon ui-icon-extlink"
								title="{% trans 'Associate Alert to an Occurrence' %}">{% trans 'Associate Alert to an Occurrence' %}</a>
						</td>
					</tr>
				{% endfor alert in alert_list %}
				</tbody>
			</table>
		</div>
	</div><!-- .stackContent -->
{% endblock content %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lists.js"></script>
{% endblock %}
